<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Images:</strong>
  <div class="row">
    <div id="images">
      <% @product.images.each do |image| %>
        <%= render(image) %>
      <% end %>
    </div>
  </div>
  <%= form_for [@product, @product.images.new] do |f| %>
    <%= f.label :image, 'Upload images:' %>
    <%= f.file_field :image, multiple: true, name: "image[image]" %>
  <% end %>
  <div id="progress">
    <div class="bar" style="width: 0%;"></div>
  </div>
<p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
